# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# -------------------------
# Database (local only)
# -------------------------
backend/database/*.db

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Logs
# -------------------------
*.log